.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #00aad8;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: default;
    flex: 10%;
    padding: 15px 18px;
    margin-left: 5px;
}

.search:hover {
    background-color: white;
    color: #00aad8;
    transition: 0.3s;
}

.input{
    flex: 90%;
    border: 0px;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #eceff4;
    color: #282c34;
    font-size: 100%;
    font-weight: 600;
    resize: none;
}

.input:focus {
    outline: none;
}