.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
}

.left{
    display: flex;
    flex: 25%;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 25%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}