.container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 5px;
    width: 95%;
    height: 95%;
}

.messages{
    flex: 92%;
    margin-bottom: 10px;
}

.chat{
    flex: 8%;
}