.message{
    border-radius: 5px;
    padding: 10px 10px;
    color: #282c34;
    font-weight: 500;
}

.recieve{
    margin-right: auto;
    margin-left: 10px;
    background-color: #a3be8c;
    width: 50%;
}

.sent{
    margin-left: auto;
    margin-right: 10px;
    background-color: #00aad8;
    width: 50%;
}